# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Create a table containing popular Data Science tools
* Examples of evaluating arithmetic expressions in Python

## Author
Irina Todorova

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia 
5. Scala
6. Java
7. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. Keras
5. SciPy

| Data Science Tools |
| --- |
| R Studio |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335